.container {
  max-width: 1440px;
  padding: 48px 80px 54px 80px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 1440px) {
  .users {
    -webkit-column-gap: calc((100% - 915px) / 2);
       -moz-column-gap: calc((100% - 915px) / 2);
            column-gap: calc((100% - 915px) / 2);
  }
}

@media (max-width: 1115px) {
  .users {
    -webkit-column-gap: calc(100% - 610px);
       -moz-column-gap: calc(100% - 610px);
            column-gap: calc(100% - 610px);
  }
}

@media (max-width: 790px) {
  .users {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 32px 35px;
  }
}
